.exercicio {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	margin-top: 8rem;
}

.exercicio:first-child {
	flex-direction: column-reverse;
	border: 2px solid #fe3636;
}

.exercicio:last-child {
	border: 2px solid #ffffff;
}

.box1,
.box2,
.box3,
.box4,
.box5 {
	width: 100px;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3rem;
	font-weight: 700;
	color: #000;
	border: 2px dashed #ffffff;
}

.box1 {
	background-color: #f3ff06;
}

.box2 {
	background-color: #f788ff;
}

.box3 {
	background-color: #20f394;
}

.box4 {
	background-color: #06cdff;
}

.box5 {
	background-color: #ff5858;
}

.navegacao {
	height: 475px;
	width: 150px;
	padding: 1rem;
	margin-right: -17px;
	color: #000;
	background-color: #ff5858;
}

.cabecalho,
.rodape {
	width: 600px;
	height: 100px;
	padding: 1rem;
	color: #000;
	background-color: #06cdff;
}

.conteudo-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #000;
}

.conteudo {
	width: 450px;
	height: 275px;
	padding: 1rem;
	background-color: #f788ff;
}

.lateral {
	padding: 1rem;
	width: 150px;
	height: 275px;
	background-color: #fe9191;
}
